<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="console_pattern">%highlight{%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p --- [%35.35t] %-40.40c{1.} : %m%n%ex}{ERROR=red, WARN=yellow, INFO=grey, DEBUG=green,
            TRACE=blue}
        </Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${console_pattern}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>